<h2>Next Show Starts In:</h2>
<div id="clockdiv">
    <div>
    <span class="days"></span>
    <div class="smalltext">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="smalltext">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="smalltext">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="smalltext">Seconds</div>
  </div>

  <% if @events.count != 0 %>
    <% @events.sort_by{|t| t.start_at}.each do |event| %>
    <% @day = @events.first().start_at.strftime("%B %d %Y") %> 
    <% @time = @events.first().start_at.strftime("%T") %>
    <% end %>
  <% end %>
</div>

<script>
  var deadline = '<%= @day %> <%= @time %> PDT';
  initializeClock('clockdiv', deadline);
</script>